<div class="overlay" [ngClass]="{'bg-scheduler-dark-2 c-scheduler-white': task.priority === 'h',
                 'bg-scheduler-light c-scheduler-dark': task.priority === 'l',
                 'bg-scheduler-dark-3 c-scheduler-light': task.priority === 'n'}">

  <h1 class="py-3">Delete Task</h1>
  <p>Are you sure you want to delete the task:</p>
  <p><strong class="text-success">{{ task.toString }}</strong></p>

  <button (click)="abortDelete.emit()"
          class="btn bg-scheduler c-scheduler-dark mr-4 mt-3">No, go back</button>

  <button (click)="confirmDelete.emit()"
          class="btn btn-danger ml-4 mt-3">Yes, delete</button>
</div>
