<div *ngIf="loadingDetail" class="overlay">
  <span class="spinner-border"></span>
</div>

<div *ngIf="shoppingList" class="jumbotron mb-3 p-2 bg-scheduler-dark-2 c-scheduler-white overlay-parent">
  <h1 class="display-4">{{ shoppingList.name }}</h1>

  <p *ngIf="shoppingList.shared" class="ml-1 font-weight-light my-0 text-success">Shared</p>

  <p class="my-0 text-right">
    <small class="font-weight-light text-muted">Click on item to mark bought / not bought</small>
  </p>

  <hr class="mb-4 mt-0 bg-scheduler-light">

  <ul *ngIf="shoppingList.items.length > 0; else elseBlock">
    <li *ngFor="let item of shoppingList.items" class="my-0 {% if item.status %}text-muted{% endif %}">
      <a (click)="onMark(item.id)" role="button" [ngClass]="{'text-line-through text-muted': item.done,
                     'c-scheduler-white': !item.done}">
        <p class="lead mt-0 mb-2">{{ item.name }}</p>
      </a>
    </li>
  </ul>

  <ng-template #elseBlock>
    <p class="lead mt-4 text-muted">There is no any item yet</p>
  </ng-template>

  <hr class="my-4 bg-scheduler-light">

  <p>
    <strong>Last edit:</strong> {{ shoppingList.lastEditDateTime | date:'d MMM yyyy HH:mm' }}
  </p>

  <div *ngIf="currentUserIsOwner">
    <div class="d-flex w-100 justify-content-between">
      <a class="btn bg-scheduler-dark-3 c-scheduler btn-lg" role="button" [routerLink]="['/shoppinglists/update', shoppingList.id]">Edit</a>
      <a class="btn btn-danger btn-lg" role="button" (click)="onShowDeleteConfirmation()">Delete</a>
    </div>

    <a class="w-100 btn mt-2 bg-scheduler-dark-3 c-scheduler btn-lg" role="button" (click)="onShare()"
       [ngSwitch]="shoppingList.shared">

      <span *ngIf="loadingShareBtn" class="spinner-border spinner-border-sm"></span>
      <span *ngSwitchCase="true">Unshare</span>
      <span *ngSwitchDefault>Share</span>
    </a>

    <app-shopping-list-confirm-delete *ngIf="!hideDelete" [shoppingList]="shoppingList"
                                      (abortDelete)="onHideDeleteConfirmation()" (confirmDelete)="onDelete()">
    </app-shopping-list-confirm-delete>
  </div>
</div>

<div *ngIf="shoppingList && authenticated && !loadingDetail">
  <a class="btn bg-scheduler c-scheduler-dark btn-lg w-100" role="button"
     routerLink="/shoppinglists">Go to Shopping Lists</a>
</div>
