<header class="sticky-top">
  <nav class="navbar navbar-light bg-scheduler navbar-expand-lg">
    <a class="navbar-brand c-scheduler-dark-2" routerLink="/">
      <img class="d-inline-block mr-1 align-bottom" [src]="'assets/images/logo.png'"
           alt="logo" width="30" height="30">Scheduler
    </a>
    <button id="navbar-toggler-button" class="navbar-toggler collapsed" type="button"
            data-toggle="collapse" data-target="#mainmenu"
            aria-controls="mainmenu" aria-expanded="false"
            aria-label="Navigation toggler">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainmenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/">Start</a></li>
        <li *ngIf="!authenticated" class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
        <li *ngIf="!authenticated" class="nav-item"><a class="nav-link" routerLink="/register">Register</a></li>
        <li *ngIf="authenticated" class="nav-item"><a class="nav-link" routerLink="/week">Schedule Week</a></li>

        <li *ngIf="authenticated" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown"
             aria-haspopup="true">Treasure</a>
          <div class="dropdown-menu" aria-labelledby="submenu">
            <a class="dropdown-item" routerLink="/activities">Activities</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/tasks">Tasks</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/shoppinglists">Shopping Lists</a>
          </div>
        </li>

        <li *ngIf="authenticated" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">Manage</a>
          <div class="dropdown-menu" aria-labelledby="submenu">
            <a class="dropdown-item" routerLink="/activities/new">Create Activity</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/tasks/new">Create Task</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/shoppinglists/new">Create Shopping List</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" role="button" (click)="onDeleteAllActivities()">Delete all Activities</a>
          </div>
        </li>

        <li *ngIf="authenticated" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
             aria-expanded="false" aria-haspopup="true">Addons</a>
          <div class="dropdown-menu" aria-labelledby="submenu">
            <a class="dropdown-item" (click)="onGetActivitiesFromPollub()">Get Subjects from Pollub</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
             aria-expanded="false" aria-haspopup="true">About</a>
          <div class="dropdown-menu" aria-labelledby="submenu">
            <a class="dropdown-item" routerLink="/about">Scheduler</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/other/projects">Other projects</a>
          </div>
        </li>

        <li *ngIf="authenticated" class="nav-item"><a class="nav-link" routerLink="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>
