body {
    background-color: black;
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url('../images/wheat.png');
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    background-attachment: fixed;
}
main .container {
    max-width: 600px;
}
.dropdown-menu {
    background-color: #2F3336;
}
.dropdown-item {
    color: white;
}
.dropdown-item:hover {
    background-color: #2F3336;
    color: #00a161;
}
.dropdown-item:focus {
    background-color: #2F3336;
    color: white;
}
.dropdown-divider {
    border-top: 1px solid #00a161;
}
.nav-link {
    color: #424240 !important;
}
.nav-link:hover {
    color: #191d21 !important;
}
button {
    outline: none !important;
    /*border: dotted 1px #191d21 !important;*/
    /*border-radius: 5px !important;*/
}
button:focus {
    outline: none !important;
}

@media (max-width: 575px) {
    h1 {
        font-size: 30px;
    }
}
.navbar {
    border-bottom: solid 1px #191d21;
}
textarea {
    max-height: 100px;
}
.text-line-through {
    text-decoration: line-through !important;
}
.text-line-through a {
    color: black !important;
}


.bg-scheduler {
    background-color: #00a161 !important;
}
.bg-scheduler-dark {
    background-color: #424240 !important;
}
.bg-scheduler-light {
    background-color: #adadad !important;
}
.bg-scheduler-white {
    background-color: white !important;
}
.c-scheduler {
    color: #00a161 !important;
}
.c-scheduler-dark {
    color: #424240 !important;
}
.c-scheduler-light {
    color: #adadad !important;
}
.c-scheduler-white {
    color: white !important;
}



/*unused*/
.c-scheduler-dark-2 {
    color: #191d21 !important;
}
.c-scheduler-dark-3 {
    color: #2F3336 !important;
}
.bg-scheduler-dark-2 {
    background-color: #191d21 !important;
}
.bg-scheduler-dark-3 {
    background-color: #2F3336 !important;
}
.bg-scheduler-2 {
    background-color: #8c8c8c !important;
}
.bg-scheduler-high {
    background-color: yellow !important;
}

/*ul {*/
/*    list-style-type: none !important;*/
/*}*/
