<div class="jumbotron py-1 bg-scheduler-dark-2">
  <h1 class="h3 text-center">Scheduler</h1>

  <p class="text-center">
    Is an hobby app which is used to help you manage Your day.
    It features Activities, Tasks and Shopping Lists management.
    With two first you can track your weekly challenges easily and ensure yourself, You won't forget about anything.
    The very useful things are also of course Shopping Lists, which You can create very easy, add items, mark them bought.
    You can also share Your Tasks and Shopping Lists with others. Just play with it for some time.
  </p>

  <p class="text-center">
    This project is mainly created for better CV presentation and of course for gain skills at web application programming.
    It is written using
    <a class="text-danger" target="_blank" href="https://angular.io/">Angular</a>
    and
    <a class="text-success" target="_blank" href="https://spring.io/projects/spring-boot">Spring Boot</a>
    which both I started to love some time ago.
  </p>
</div>
