<div class="jumbotron mb-3 py-1 bg-scheduler-dark-2">
  <h1 class="font-weight-light text-center">Welcome {{ username }}!</h1>
</div>
<a class="btn mb-2 bg-scheduler c-scheduler-dark btn-lg w-100" routerLink="/activities" role="button">Your Activities</a>
<a class="btn mb-5 bg-scheduler c-scheduler-dark btn-lg w-100" routerLink="/activities/new" role="button">Create Activity</a>

<a class="btn mb-2 bg-scheduler c-scheduler-dark btn-lg w-100" routerLink="/tasks" role="button">Your Tasks</a>
<a class="btn mb-5 bg-scheduler c-scheduler-dark btn-lg w-100" routerLink="/tasks/new" role="button">Create Task</a>

<a class="btn mb-2 bg-scheduler c-scheduler-dark btn-lg w-100" routerLink="/shoppinglists" role="button">Your Shopping Lists</a>
<a class="btn mb-5 bg-scheduler c-scheduler-dark btn-lg w-100" routerLink="/shoppinglists/new" role="button">Create Shopping List</a>

<a class="btn mb-3 bg-scheduler c-scheduler-dark btn-lg w-100" routerLink="/week" role="button">Schedule Week</a>
<!--<div class="jumbotron py-1 bg-scheduler-dark-2">-->
<!--  <h2 class="font-weight-light text-center mb-3">Summary</h2>-->
<!--  <p class="font-weight-light text-center">You have <strong>{{ num_activities }}</strong> active activit{% if num_activities != 1 %}ies{% else %}y{% endif %} in your schedule</p>-->
<!--  <p class="font-weight-light text-center">You have <strong>{{ num_tasks }}</strong> task{% if num_tasks != 1 %}s{% endif %} on-going</p>-->
<!--  <p class="font-weight-light text-center">You have <strong>{{ num_active_slists }}</strong> active shopping list{% if num_active_slist != 1 %}s{% endif %}</p>-->
<!--</div>-->
