<footer class="bg-scheduler-dark-2 py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <h1 class="h2 my-3">About creator</h1>
        <p class="font-weight-light">Full of passion Computer Science Student with analytical mindset.
          Always wanting to explain more difficult subjects to academic colleagues and open to the comments of others.
          Currently learning new technologies related to web development.</p>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <h1 class="h2 my-3">Projects</h1>
        <a class="text-decoration-none d-flex" routerLink="/about">
          <i class=""></i>
          <strong class="my-1">Scheduler2</strong>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <h1 class="h2 my-3">Socials</h1>
        <a class="text-decoration-none d-flex" href="https://www.linkedin.com/in/kamil-cinner-909b98196"
           target="_blank">
          <i class="icon-linkedin-squared"></i>
          <strong class="my-1">Kamil Cinner</strong>
        </a>

        <a class="text-decoration-none d-flex" href="https://github.com/kamilcinner" target="_blank">
          <i class="icon-github-circled"></i>
          <strong class="my-1">github.com/kamilcinner</strong>
        </a>

        <a class="text-decoration-none d-flex" href="https://www.instagram.com/artemka00010011" target="_blank">
          <i class="icon-instagram"></i>
          <strong class="my-1">artemka00010011</strong>
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <h1 class="h2 my-3">See also</h1>
        <a class="text-decoration-none d-flex" href="https://www.instagram.com/wloczkowo/" target="_blank">
          <i class="icon-instagram"></i>
          <strong class="my-1">wloczkowo</strong>
        </a>
      </div>
    </div>
    <hr class="bg-scheduler">

    <p class="text-center my-0 text-muted font-italic">The author of this site is Kamil Cinner</p>
  </div>
</footer>
