<div *ngIf="loadingDetail" class="overlay-flex">
  <span class="spinner-border"></span>
</div>

<div *ngIf="!loadingDetail && task" class="jumbotron mb-3 p-2 overlay-parent"
     [ngClass]="{'bg-scheduler-dark-2 c-scheduler-white': task.priority === 'h',
                 'bg-scheduler-light c-scheduler-dark': task.priority === 'l',
                 'bg-scheduler-dark-3 c-scheduler-light': task.priority === 'n'}">

  <h1 class="font-weight-light">{{ task.name }}</h1>

  <p *ngIf="task.shared" class="font-weight-light my-0 text-success">Shared</p>

  <p *ngIf="task.isOverdue" class="my-0"><strong class="text-danger"> Overdue!</strong></p>

  <p *ngIf="task.done" class="my-0"><strong class="text-success"> Already done!</strong></p>

  <hr class="my-4" [ngClass]="{'bg-scheduler-light': task.priority === 'h',
                               'bg-scheduler-dark-3': task.priority === 'l',
                               'bg-scheduler-dark-2': task.priority === 'n'}">

  <p class="lead">{{ task.description }}</p>

  <hr class="my-4" [ngClass]="{'bg-scheduler-light': task.priority === 'h',
                               'bg-scheduler-dark-3': task.priority === 'l',
                               'bg-scheduler-dark-2': task.priority === 'n'}">

  <p [ngClass]="{'text-danger': task.isOverdue}">
    <strong>Due date:</strong>
    {{ task.dueDateTime | date:'d MMM yyyy HH:mm' }}
  </p>

  <p>
    <strong>Priority:</strong>
    <span [ngClass]="{'font-weight-bold text-warning': task.priority === 'h',
                      'text-muted': task.priority === 'l'}">
      {{ task.priorityName }}
    </span>
  </p>

  <div *ngIf="currentUserIsOwner">
    <div class="d-flex mb-2 w-100 justify-content-between">
      <button [disabled]="loadingShareBtn" class="btn c-scheduler btn-lg" (click)="onShare()"
         [ngClass]="{'bg-scheduler-dark-2': task.priority === 'n',
                    'bg-scheduler-dark-3': task.isOneOfPriorities('l', 'h')}"
         [ngSwitch]="task.shared">

        <span *ngIf="loadingShareBtn" class="spinner-border spinner-border-sm mb-1 mr-2"></span>
        <span *ngSwitchCase="true">Unshare</span>
        <span *ngSwitchDefault>Share</span>
      </button>

      <a class="btn c-scheduler btn-lg" role="button" [routerLink]="['/tasks/update', task.id]"
         [ngClass]="{'bg-scheduler-dark-2': task.priority === 'n',
                    'bg-scheduler-dark-3': task.isOneOfPriorities('l', 'h')}">
        Edit
      </a>
    </div>

    <div class="d-flex w-100 justify-content-between">
      <button [disabled]="loadingMarkBtn" class="btn c-scheduler btn-lg" (click)="onMark()"
         [ngClass]="{'bg-scheduler-dark-2': task.priority === 'n',
                    'bg-scheduler-dark-3': task.isOneOfPriorities('l', 'h')}"
         [ngSwitch]="task.done">

        <span *ngIf="loadingMarkBtn" class="spinner-border spinner-border-sm mb-1 mr-2"></span>
        <span *ngSwitchCase="true">Undone</span>
        <span *ngSwitchDefault>Mark done</span>
      </button>

      <button class="btn btn-danger btn-lg" (click)="onShowDeleteConfirmation()">Delete</button>
    </div>

    <app-task-confirm-delete *ngIf="!hideDelete" [task]="task" (abortDelete)="onHideDeleteConfirmation()"
                             (confirmDelete)="onDelete()">
    </app-task-confirm-delete>
  </div>
</div>

<div *ngIf="!loadingDetail && authenticated">
  <a class="mb-2 btn bg-scheduler c-scheduler-dark btn-lg w-100"
     role="button" routerLink="/tasks">Go to Tasks</a>

  <a class="mb-2 btn bg-scheduler c-scheduler-dark btn-lg w-100"
     role="button" routerLink="/week">Go to Schedule Week</a>

  <a class="btn bg-scheduler c-scheduler-dark btn-lg w-100"
     role="button" routerLink="/tasks/new">Create another Task</a>
</div>
