<div *ngIf="loadingForm" class="overlay-flex">
  <span class="spinner-border"></span>
</div>

<div *ngIf="!loadingForm" class="jumbotron mb-3 p-2 bg-scheduler-dark-2 c-scheduler-white">
  <h1 class="display-4">{{ shoppingList.name }}</h1>

  <hr class="my-4 bg-scheduler-light">

  <form [formGroup]="shoppingListItemsForm" (ngSubmit)="onSubmit()">
    <div id="fields-wrapper" formArrayName="items">

      <div *ngFor="let item of items.controls; index as i" class="form-group">
        <ng-container [formGroup]="item">
          <div class="input-group">
            <div class="input-group-prepend bg-scheduler-dark-2">
              <span class="input-group-text px-2 bg-scheduler-dark-3 c-scheduler">{{ i+1 }}</span>
            </div>

            <input class="form-control bg-scheduler-dark-3" formControlName="name">
            <input type="hidden" class="form-control bg-scheduler-dark-3" formControlName="done">

            <div class="input-group-append bg-scheduler-dark-2">
              <button (click)="removeItemInput(i)" type="button" class="btn btn-danger px-3 delete-form-row">-</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="d-flex w-100 justify-content-between">
      <button (click)="addItemInput()" type="button" class="btn bg-scheduler-dark-3 c-scheduler add-form-row">
        Add another
      </button>
      <button [disabled]="loading" type="submit" class="btn bg-scheduler c-scheduler-dark">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Save
      </button>
    </div>

    <a class="btn mt-2 btn-warning c-scheduler-dark" role="button"
       [routerLink]="['/shoppinglists/one', shoppingList.id]">
      Cancel
    </a>
  </form>

  <hr class="my-4 bg-scheduler-light">

  <p>
    <strong>Last edit:</strong> {{ shoppingList.lastEditDateTime | date:'d MMM yyyy HH:mm' }}
  </p>

  <small *ngIf="errors && errors.server" class="text-danger">{{ errors.server }}</small>
</div>
